body{
    color: red;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #333;
    margin: 0 auto;
}

h1{
    color: grey;
    font-weight: bold;
}

#container h1{
    font-size: 20px;
}

p{
    text-decoration: underline;
    color: grey;
}

.explicacion{
    text-decoration: none;
}

#cabecera {
    border-radius: black 1px solid;
    background-color: rgba(0, 0, 0, 80%);
}